<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <input type="text" class="form-control" #serverNameInput>
    <label>Server Content</label>
    <!--    <input type="text" class="form-control" [(ngModel)]="newServerContent">-->
    <input type="text" class="form-control" #newServerContent>
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(serverNameInput)">Add Server
    </button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint()">Add Server Blueprint
    </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-server-item *ngFor="let server of serverList" [srvr]="server">

        <div class="panel panel-default">
          <div class="panel-heading">{{ server.name }}</div>
          <div class="panel-body">
            <p>
              <strong *ngIf="server.type === 'server'" style="color: red">{{ server.content }}</strong>
              <em *ngIf="server.type === 'blueprint'">{{ server.content }}</em>
            </p>
          </div>
        </div>

    </app-server-item>
  </div>
</div>
<div class="row">
  <app-parent></app-parent>
</div>
