# Sample config file.
# If this file is named .env then it will be used automatically.
# Otherwise, can specify the env config file when starting the server, with the `-c` flag, eg:
# server -c "./env_example.txt"
# Don't commit *real* .env or simailar to the repo!

MYSQL_DSN="aaaroot:password@tcp(localhost:3306)/"
MYSQL_DBNAME="aaahttpservice"
MYSQL_DESC="aaalocal dev"
MONGO_DSN="aaamongodb://localhost"
MONGO_DBNAME="aaaca8bb0b_test"
MONGO_DESC="aaalocal mongo db"